<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>本の一覧</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="index">
  <div class="phone-view">
    <h1>本を選んでください</h1>
    <ul>
      {% for book in books %}
        <li><a href="{{ url_for('read', filename=book.file) }}">{{ book.title }}（{{ book.author }}）</a></li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
